################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CBTeam-Mvc/.vs/CBTeam-Mvc/FileContentIndex
/.vs
