@model List<CBTeam_Mvc.Models.ProviderModel>

<h4>Resultados de la búsqueda:</h4>
<ul>
    @foreach (var provider in Model)
    {
        <li>@provider.Id - @provider.ProviderName - @provider.Locality</li>
    }
</ul>